

@include flexbox-grid-cols('xxs', 'grid-block');

@each $size in $responsive-screen-sizes {
	@media screen and (min-width: nth($size,2)) {
			@include flexbox-grid-cols(nth($size,1), 'grid-block');
	}
}
.no-flex {
	.grid-block-group {
		display: block;
		margin-left: -1.5%;
		margin-right: -1.5%;
		.grid-block {
			display: inline-block;
			margin: 1.5%;
		}
	}
	@include flexbox-grid-cols('xxs', 'grid-block', true);

	@each $size in $responsive-screen-sizes {
		@media screen and (min-width: nth($size,2)) {
				@include flexbox-grid-cols(nth($size,1), 'grid-block', true);
		}
	}
}
