/* line 1, sass/_wrapper.scss */
body > header {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
  border-bottom: 0.05em solid #ccc;
  position: relative;
}
/* line 7, sass/_wrapper.scss */
body > header nav {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
}
/* line 12, sass/_wrapper.scss */
body > header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin: 0%;
  padding: 0%;
}
/* line 21, sass/_wrapper.scss */
body > header nav ul li {
  flex-grow: 1;
  display: inline-block;
  list-style-type: none;
}
/* line 25, sass/_wrapper.scss */
body > header nav ul li a {
  display: block;
  background-color: #017;
  color: #fff;
  padding: 0.5em 2em;
  font-size: 1.75rem;
}
/* line 31, sass/_wrapper.scss */
body > header nav ul li a:hover {
  color: #fff !important;
}
/* line 34, sass/_wrapper.scss */
body > header nav ul li a.active {
  background-color: #05a;
}

/* line 42, sass/_wrapper.scss */
.content-wrap {
  margin: auto;
  border: 0.1em solid #ccc;
  padding: 1em;
}

/* line 2, sass/_task.scss */
.goalTasks > ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}
/* line 12, sass/_task.scss */
.goalTasks > ul > li {
  display: block;
  flex-grow: 1;
  flex-basis: 20em;
  margin: 0%;
  padding: 0%;
}
/* line 21, sass/_task.scss */
.goalTasks article.task {
  border: 0.1em solid #FFF;
  margin-top: 1em;
}
/* line 24, sass/_task.scss */
.goalTasks article.task header {
  padding: 0.5em 1em;
  text-align: center;
  background-color: #509;
  color: #fff;
}
/* line 29, sass/_task.scss */
.goalTasks article.task header h1 {
  font-size: 3rem;
  margin: 0%;
  padding: 0.2em;
}
/* line 34, sass/_task.scss */
.goalTasks article.task header h2 {
  font-size: 1.75em;
  margin: 0%;
  padding-bottom: 0.3em;
}
/* line 40, sass/_task.scss */
.goalTasks article.task img {
  width: 20em;
  height: 20em;
}
/* line 44, sass/_task.scss */
.goalTasks article.task main {
  display: none;
  padding: 1em;
  background-color: #eee;
}
/* line 48, sass/_task.scss */
.goalTasks article.task main ol {
  margin: 0%;
  padding: 0%;
}
/* line 51, sass/_task.scss */
.goalTasks article.task main ol li {
  margin: 0% 0% 0% 1em;
  padding: 0% 0% 0% 1em;
  list-style-type: decimal;
}
/* line 58, sass/_task.scss */
.goalTasks article.task footer {
  display: none;
}
/* line 60, sass/_task.scss */
.goalTasks article.task footer a {
  display: block;
  font-size: 2.5rem;
  padding: 0.5em 1em;
  text-align: center;
  margin: 0%;
  background-color: #165317;
  color: #fff;
}
/* line 72, sass/_task.scss */
.goalTasks article.task:hover main, .goalTasks article.task:hover footer {
  display: block;
}

/* line 1, sass/_create-task.scss */
ul.weekdays {
  margin: 0%;
  padding: 0%;
}
/* line 4, sass/_create-task.scss */
ul.weekdays > li {
  list-style-type: none;
  display: block;
  margin: 0% 1em;
  padding: 0%;
}
/* line 9, sass/_create-task.scss */
ul.weekdays > li label {
  display: block;
}
/* line 11, sass/_create-task.scss */
ul.weekdays > li label:hover {
  cursor: pointer;
}

/* line 18, sass/_create-task.scss */
fieldset {
  padding-bottom: 2em;
}

/*# sourceMappingURL=doingDone.css.map */
